{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
  <div class="account">
    <form method="post" action="{% url 'account_logout' %}" class="account__form">
      <h1 class="account__form--title">{% trans "Logout" %}</h1>

      <p class="account__form--paragraph">{% trans 'Are you sure you want to logout?' %}</p>
      {% csrf_token %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="account__form--buttons">
        <a class="account__form--buttons--cancel" href="{% url 'profile' username=request.user %}">
          Cancel
        </a>
        <button class="account__form--buttons--confirm" type="submit">
          {% trans 'Logout' %}
        </button>
      </div>
    </form>
  </div>
{% endblock %}