{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="container account-container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group"> 
                <legend class="border-bottom mb-4">Connectify Here</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Sign up</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2 btn" href="{% url 'login' %}">Sign in</a>
            </small>
        </div>
    </div>
      </div>
    </div>
</div>
{% endblock content %}