{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="chat__room">
  <div class="chats__navbar">
    {% for chat_tab in chats %}
    <a href="{% url 'chat_room' slug=chat_tab.slug %}" class="chats__navbar--item">{{ chat_tab }}</a>
    {% endfor %}
  </div>
  <div class="chat__main">
    <input type="hidden" value="{{ chat.id }}" id="chat-id">
    <input type="hidden" value="{{ request.user.username }}" id="username">
    <div class="chat__container">
      {% for message in chat.messages.all %}
      <div class="message">
        <div class="message__header">
          <div class="message__header--data">
            <div class="message__avatar--avatar"></div>
            <div class="message__header--username">
              {% if message.user %}
              {{ message.user.username }}
              {% else %}
              Anonymous
              {% endif %}
            </div>
          </div>
          <div class="message__header--time">
            {{ message.created_at }}
          </div>
        </div>
        <div class="message__body">
          <div class="message__body--text">
            {{ message.content }}
          </div>
          {% if message.image %}
          <div class="message__body--image">
            <img src="{{ message.image }}" alt="">
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="input__container">
      <textarea type="text" id="chat-input" class="input__container--textarea"></textarea>
      <div class="input__container--buttons">
        <button id="chat-send">Send</button>
        <div class="send-anonymously--container">
          <label for="send-anonymously">Send anonymously</label>
          <input type="checkbox" id="send-anonymously">
        </div>
        <input type="file" id="chat-file" accept="image/*">
      </div>
    </div>
  </div>
</div>


<script src="{% static 'js/chat_room.js' %}"></script>
{% endblock %}