{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="chat__room">
  <div class="chats__navbar">
    {% for chat_tab in chats %}
    <div>{{ chat }}</div>
    {% endfor %}
  </div>
  <div>
    <input type="hidden" value="{{ chat.id }}" id="chat-id">
    <input type="hidden" value="{{ request.user.username }}" id="username">
    <div class="chat-container">
      {% for message in chat.messages.all %}
      <div class="message">
        <div class="message-header">
          <div class="message-header-username">
            {{ message.user.username }}
          </div>
          <div class="message-header-time">
            {{ message.created_at }}
          </div>
        </div>
        <div class="message-body">
          {{ message.content }}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="input__container">
      <input type="text" id="chat-input">
      <div>
        <button>send</button>
        <button>send anonymously</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/chat_room.js' %}"></script>
{% endblock %}