{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% comment %} Access for authorized user {% endcomment %}
  {% if user.is_authenticated %}
    {% comment %} Chat list main content {% endcomment %}
    <div class="chat__list">
      <h2 class="chat__list--title"><i class="far fa-comment-alt"></i> Chat Rooms</h2>
      <ul class="chats">
        {% comment %} All chat rooms {% endcomment %}
        {% for chat in chats %}
          <li class="chats__single">
            <div class="chats__single--name">
              {{ chat.chat_name }}
            </div>
            <div class="chats__single--image">
              <img src="{{ chat.chat_logo.url }}" alt="Avatar for {{ chat.chat_name }} chat room"> 
            </div>
            <div class="chats__single--description">
              {{ chat.chat_description }}
            </div>
            <a href="{% url 'chat_room' slug=chat.slug %}" class="chats__single--link">
              Enter Chat Room
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}