{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container account-container mt-4 pt-4 bg-light">
  <div class="row mt-4 pt-4">
    <div class="col-md-8 mt-3 offset-md-2">
      <div class="content-section">
        <div class="col-md-3">
          <img class="profile-img d-inline-block" src="{{ user.user_profile.avatar.url }}" /> 
          <!-- show edit and delete icons only to profile owner-->
          {% if request.user == user.user_profile.user %}
          <a class="btn mx-2 px-2" href="{% url 'profile-update' %}"><i class="fas fa-edit"></i></a>
          <a class="btn mx-2 px-2" href="{% url 'profile-delete' %}"> <i class="fas fa-trash"></i></a>
          {% endif %}
        </div>
        <h2 class="account-heading">{{ user.username }} <i class="fas fa-hand-holding-heart"></i> {{user.user_profile.stewardship.count}}</h2>
        <p class="mt-4 pt-3 mb-4">{{user.user_profile.bio}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}