{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<div class="profile">
  <form method="POST" class="profile__delete">
    {% csrf_token %}
    <div class="profile__delete--title">
      Are you sure you want to delete
      <a href="{% url 'profile' username=request.user.username %}" aria-label="Go to profile page">your profile</a>?
    </div>
    <div class="profile__body--buttons">
      <a class="btn btn-secondary mt-3 mx-2 mt-sm-1 mb-md-4 d-inline-block"
        href="{% url 'profile' username=request.user %}" aria-label="Cancel deletion of the account">Cancel</a>
      <button class="btn btn-danger mt-3 mx-2 mt-sm-1 mb-md-4 d-inline-block" type="submit"
        aria-label="Confirm deletion of the account">Delete Profile</button>
    </div>
  </form>
</div>
{% endif %}
{% endblock content %}