{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container account-container chat_list mt-4 pt-4 bg-light">
  <div class="row mt-4 pt-4">
    <div class="col-md-8 mt-3 offset-md-2">
      <div class="content-section">
        <div class="col-md-3">
          <img class="profile-img" src="{{ user.user_profile.avatar_url }}" />
          <h2 class="account-heading">{{ user.username | title }} <i class="fas fa-hand-holding-heart"></i> {{user.user_profile.stewardship.count}}</h2>
        </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4 mt-5">Profile Info</legend>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-success mt-3 mb-4" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}