{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<div class="profile">
<div class="container account-container">
  <div class="row mt-4 pt-4">
    <div class="col-md-8 mt-3 offset-md-2">
        <div class="profile__header--main--avatar">
          <img class="" src="{{ user.user_profile.avatar_url }}" /> 
        </div>
          <h2 class="account-heading">{{ user.username | title }} <i class="fas fa-hand-holding-heart"></i> {{user.user_profile.stewardship.count}}</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4 mt-5">Profile Info</legend>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
          </fieldset>
          <div class="form-group">
            <a class="btn btn-secondary mt-3 mb-md-4 mb-sm-1 mx-2 d-inline-block" href="{% url 'profile' username=request.user %}">Cancel</a>
            <button class="btn btn-success mt-3 mb-md-4 mb-sm-1 mx-2 d-inline-block" type="submit">Save</button>
          </div>
        </form>
    </div>
  </div>
</div>
</div>
{% endif %}
{% endblock content %}