/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Raleway:ital,wght@1,500&display=swap');

:root {

    /*---------- TYPOGRAPHY ----------*/
  
    --header-text: 'Montserrat', sans-serif;
    --content-text: 'Raleway', sans-serif;
  
  
    /*---------- COLOURS ----------*/
  
    --base-color: #51A614;
    --white-color: #FFFFFF;
    --black-color: #000000;
}


/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}


/* Profile */
.profile-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.profile-mini {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.navbar {
  font-size: 14px;
  font-family: var(--header-text);
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: var(--base-color) !important;
  padding: 20px 20px;
  z-index:999;
}

.navbar-brand {
  font-size: 2rem;
  font-family: var(--header-text);
}

.nav-link {
  font-size: 20px;
  font-family: var(--content-text);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--black-color);
  padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--white-color);
}

.nav-profile {
  padding-left: 220px;
}
