{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="contact__main--container">
  <!-- Page Title-->
  <div class="container">
    <h2 class="text-center mt-3">Contact Us</h2>
    <h3 class="text-center mt-3"><em>We would love to hear from you!</em></h3>
  </div>

  <!--Main content-->

  <div class="container contact-form">

    <form method="post" action="{% url 'contact' %}" target="_blank">

      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Your Name *" value="" required />
          </div>
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Your Email *" value="" required />
          </div>
          <!-- <div class="form-group">
            <input type="text" name="phone" class="form-control" placeholder="Your Phone Number *" value=""
              required />
          </div> -->
          <div class="form-group">
            <input type="text" name="subject" class="form-control" placeholder="Subject" value="" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <textarea name="message" class="form-control" placeholder="Your Message *"
              style="width: 100%; height: 150px;"></textarea>
          </div>
          <div class="form-group text-center">
            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
<div class="container contact text-center">

  <h2 class="font-weight-bold pb1">Meet the Squad</h2>
  <div class="row mt-3">
    <div class="col-lg">
      <a class="profile-card" href="http://github.com/lexach91/" aria-label="Visit the github page"
        target="_blank">
        <div class="profile-card--image">
          <img src="{% static 'images/profile_images/aleksei_pic.png' %}" class="profile-card-img-top" alt="Aleksei's avatar">
        </div>
        <div class="profile-card-body coder__name">
          <h5 class="profile-card-title">Aleksei</h5>
          <i class="fab fa-github"></i>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a class="profile-card" href="https://github.com/Amareteklay/" aria-label="Visit the github page" target="_blank">
        <div class="profile-card--image">
          <img src="https://ca.slack-edge.com/T0L30B202-U02S0ASP0NS-gb3125d2598a-512" class="profile-card-img-top"
            alt="Amare's avatar">
        </div>
        <div class="profile-card-body coder__name">
          <h5 class="profile-card-title">Amare</h5>
          <i class="fab fa-github"></i>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a class="profile-card" href="https://github.com/pizzaHunt3r" aria-label="Visit the github page" target="_blank">
        <div class="profile-card--image">
          <img src="https://ca.slack-edge.com/T0L30B202-U03DXG76QUC-66b6bab4b0d8-512" class="profile-card-img-top"
            alt="David's avatar">
        </div>
        <div class="profile-card-body coder__name">
          <h5 class="profile-card-title">David</h5>
          <i class="fab fa-github"></i>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a class="profile-card" href="https://github.com/IuliiaKonovalova" aria-label="Visit the github page"
        target="_blank">
        <div class="profile-card--image">
          <img src="https://ca.slack-edge.com/T0L30B202-U02AQH7KYN4-a1bac0237083-512" class="profile-card-img-top"
            alt="Juliia's avatar">
        </div>
        <div class="profile-card-body coder__name">
          <h5 class="profile-card-title">Juliia</h5>
          <i class="fab fa-github"></i>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a class="profile-card" href="https://github.com/PratimaGurav" aria-label="Visit the github page" target="_blank">
        <div class="profile-card--image">
          <img src="https://ca.slack-edge.com/T0L30B202-U01T2KZ3GHL-34e45f047d1b-512" class="profile-card-img-top"
            alt="Pratima's avatar">
        </div>
        <div class="profile-card-body coder__name">
          <h5 class="profile-card-title">Pratima</h5>
          <i class="fab fa-github"></i>
        </div>
      </a>
    </div>
    <div class="col-lg">
      <a class="profile-card" href="https://github.com/StephenB92" aria-label="Visit the github page" target="_blank">
        <div class="profile-card--image">
          <img src="https://ca.slack-edge.com/T0L30B202-U02HCLREB40-1d46ecacc07b-512" class="profile-card-img-top"
            alt="Steven's avatar">
        </div>
        <div class="profile-card-body coder__name">
          <h5 class="profile-card-title">Stephen</h5>
          <i class="fab fa-github"></i>
        </div>
      </a>
    </div>
  </div>
</div>

{%endblock%}