{% extends "base.html" %}
{% load static %}

{% block content %}

  <!-- Page Title-->
  <div class="container">
    <div class="row justify-content-around home__card__login--container">
      <div class="home__card__login--main">
        <h1 class="home-logo text-center mt-1"><span
            class="text-logo rounded border-bottom border-4 border-success">CON</span><span
            class="text-logo">N</span><span
            class="text-logo rounded border-top border-4 border-success py-0">ECTED</span><span
            class="text-warning">SY</span>
        </h1>
        <p class="home-tagline text-center mt-1 mb-3 text-primary">
          <em>Meet Greet <i class="fas fa-link"></i> Share Support </em>
        </p>
        <div class="d-grid gap-2 mt-4 d-md-flex justify-content-md-center home__card__login--buttons">
          {% if user.is_authenticated %}
            <a href="{% url 'chat_list' %}" class="btn btn-lg btn-success" aria-label="Go to chat list page">Click to Enter </a>
          {% else %}
            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-primary button__signup" aria-label="Go to sign up page">
              <i class="fas fa-user-plus"></i> Sign Up
            </a>
            <a href="{% url 'account_login' %}" class="btn btn-lg btn-success button__login" aria-label="Go to login page">
              <i class="fas fa-sign-in-alt px-1"></i> Login
            </a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row justify-content-around home__card__login--info">
      <div class="col-12 col-md-10 col-lg-5 index-card bg-transparent p-2">
        <h2 class="text-center mb-3"><i class="fas fa-link text-logo"></i> Stay Connected</h2>
        <p class="mt-2">
          These chat rooms can help you if you are feeling low and need to talk to someone who understands just what it is
          that you are going through.
          You can find a safe place to express yourself and get support from others who are also experiencing the same.
          These rooms are not a substitute for professional treatment for mental health, but you may find the community to
          be supportive.
        </p>
      </div>

      <div class="col-12 col-md-10 col-lg-5 index-card bg-transparent p-2">
        <h2 class="text-center mb-3">
          <i class="fas fa-quote-left text-logo"></i> Quotes
        </h2>
        <p class="fst-italic mt-2 py-1">
          “The problem with having problems is that someone always has it worse.”― Tiffany Madison, Black and White
        </p>
        <p class="fst-italic py-1">
          “We love being mentally strong, but we hate situations that allow us to put our mental strength to good use.”―
          Mokokoma Mokhonoana
        </p>
        <p class="fst-italic py-1">
          “Change what you can, manage what you can't.”― Raymond McCauley
        </p>
        <br>
      </div>
    </div>


  </div>
</div>
{%endblock%}