{% extends "base.html" %}

{% block content %}

<!-- Page Title-->
<div class="container">
    <h2 class="text-center mt-3">Connectedsy</h2>
    <h3 class="text-center mt-3"><em>Meet, greet, share, support</em></h3>
</div>

<div class="row justify-content-around">
  <div class="col-4 index-card bg-transparent">
    <h2 class="text-center">Stay Connected!</h2>
    <br>
    <p>
      These chat rooms can help you if you are feeling low and need to talk to someone who understands just what it is that you are going through.
      You can find a safe place to express yourself and get support from others who are also experiencing the same. These rooms are not a substitute for professional treatment for mental health, but you may find the community to be supportive.
    </p>
    <br>

  </div>

  <div class="col-4 index-card bg-transparent">
    <h2 class="text-center">
       Quotes!
    </h2>
    <br>
    <p class="fst-italic">
      “The problem with having problems is that someone always has it worse.”― Tiffany Madison, Black and White
    </p>
    <p class="fst-italic">
      “We love being mentally strong, but we hate situations that allow us to put our mental strength to good use.”― Mokokoma Mokhonoana
    </p>
    <p class="fst-italic">
      “Change what you can, manage what you can't.”― Raymond McCauley
    </p>
    <br>
  </div>
</div>

{% if user.is_authenticated %}
<div class="row justify-content-around">
    <div class="col-4 index-card bg-transparent">
      <h2 class="text-center">Chat Rooms</h2>
      <br>
      <p>
        Enter a Chat Room to connect instantly with others. Every chat room is designed to offer you immediate contact with people when you feel the desire to talk to someone right away. 
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a href="{% url 'chat_list' %}" class="btn btn-outline-dark me-md-2 mb-2">Click to Enter! </a>
      </div>

    </div>
  </div>
  {% else %}
  <div class="card">
    <h3 class="text-center">Please Login!</h3>
    <img class="card-img-top" src="media/profile_images/stay-connected.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">To join Chat's network and begin chatting.</p>
      <br>
      <a href="{% url 'account_login' %}" class="btn btn-outline-dark me-md-2 ">Login</a>
    </div>
  </div>
  {% endif %} 



{%endblock%}